@import "tailwindcss";
@plugin "daisyui";



@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #07f255;
  --color-secondary: teal;
}

 .active{
    background-color: #27e46642;
}


