@import "tailwindcss";
@plugin "daisyui";



@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #22C55E;
  --color-secondary: #27e46642;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #22C55E;
  --color-secondary: #27e46642;
}

 .active{
    background-color: #27e46642;
}

.my-confirm-btn {
  background-color: #07f255 ;
  color: white ;
}

.my-deny-btn {
  background-color: #dc2626 !important; /* red */
  color: white !important;
}



.swal-ok-btn {
background-color: #07f255 ;
  color: white ;
}